<%- include("header") %>
<div class="box" id="heading">
<h1>This is the about page </h1>
</div>

<div class="box">
<p>This is the about page of the site and you can access it by typing it in the url section.</p>
</div>
<%- include("footer") %>